<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Feedback</title>
    
</head>

<body>
    <!-- header -->
    <header class="text-gray-400 bg-gray-900 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0" href="home.html">
                <img src="/images/logo.png" alt="Logo" style="height: 50px">
                <span class="ml-3 text-xl"> Savory Secrets</span>
            </a>
            <nav
                class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-700	flex flex-wrap items-center text-base justify-center">
                <a href="loggedInHome.html" class="mr-5 hover:text-white ">Home</a>
                <a href="login.html" class="mr-5 hover:text-white">Login</a>
                <a href="signup.html" class="mr-5 hover:text-white">Sign Up</a>

                <a href="about_us.html" class="mr-5 hover:text-white">About Us</a>
            </nav>

            
        </div>
    </header>



    <div class="max-w-full mx-0 py-6 px-0 sm:px-6 lg:px-8 bg-gray-800">
        <h1 class="text-6xl font-bold text-white font-cursive text-center"
            style="margin-top: 50px; margin-bottom: 5px; font-family: 'Nova';">Share Your Feedback!!!</h1>
        <p class="text-xl text-gray-400 italic font-cursive text-center"
            style="margin-top: 5px; margin-bottom: 50px; font-family: 'Nova';">Your feedback is extremely important to us❤️</p>
        
            <div class="mb-4">
                <label class="block text-gray-300 text-sm font-bold mb-2"
                    for="feedback"></label>
                <textarea id="feedback" name="feedback"
                    class="w-full border border-gray-600 rounded py-2 px-3 focus:outline-none focus:border-indigo-500 bg-gray-700 text-gray-200"
                    rows="15" placeholder="Enter feedback here"></textarea>
            </div>

            <div class="flex justify-end">
                <button id="submit" type="submit" value="Submit"
                    class="bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-600">Submit</button>
            </div>

        

    </div>


    <footer class="text-gray-400 bg-gray-900 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
            <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
                <img src="/images/logo.png" alt="Logo" style="height: 50px">
                <span class="ml-3 text-xl">Savory Secrets</span>
            </a>
            <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4">©
                2023 Savory Secrets

            </p>

        </div>
    </footer>


    <script src="/scripts/recipe.js"></script>
    <!-- You can include your footer here if needed -->

</body>

</html>