<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.js" defer></script>
    <title></title>
    
</head>


<body>
    <!-- header -->
    <header class="text-gray-400 bg-gray-900 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
                <img src="/images/logo.png" alt="Logo" style="height: 50px">
                <span class="ml-3 text-xl">Savory Secrets</span>
            </a>
            <nav
                class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-700	flex flex-wrap items-center text-base justify-center">
                <a href="loggedInHome.html" class="mr-5 text-white bold font-bold">Home</a>
                <a href="about_us.html" class="mr-5 hover:text-white">About Us</a>
                <a href="feedback.html" class="mr-5 hover:text-white">Feedback</a>
            </nav>


            <div x-data="{ isOpen: false }" class="relative group ml-5" x-cloak>
                <button @click="isOpen = !isOpen"
                    class="  bg-indigo-700 hover:bg-indigo-800 text-white font-medium py-2 px-4 rounded-lg">Your
                    Profile</button>
                <div x-show="isOpen" @click.away="isOpen = false"
                    class="absolute bg-gray-900 text-white mt-2 w-32 py-2 z-10 right-0" x-cloak>
                    <a href="#" class="block px-4 py-2 hover:text-gray-400">View Profile</a>
                    <a href="home.html" class="block px-4 py-2 hover:text-gray-400">Logout</a>
                </div>
            </div>



        </div>
    </header>

    <div class="bg-gray-800 text-gray-100">
        <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
            <div class="bg-gray-700 rounded-lg shadow-md p-4 mb-4">
                <!-- User Details -->
                <h2 class="text-2xl font-bold mb-4">User Details</h2>

                <p>User</p>
                <p> Pune</p>

            </div>

            <!-- Recipes Section -->
            <div class="bg-gray-700 rounded-lg shadow-md p-4 mt-4">
                <h2 class="text-2xl font-bold mb-4">Recipes by User</h2>

                <div id="recipe1" class="mb-4 border px-6 rounded-xl py-6 flex items-center justify-between">
                    <div class="w-3/4">
                        <h3 class="text-lg font-bold">
                            <a href="recipe1.html">Chhole Bhature</a>
                        </h3>
                        <p class="text-gray-200 italic mb-4 py-3 px-10">Chhole Bhature is a delicious and hearty dish
                            that is
                            often enjoyed for breakfast, lunch, or dinner in North India. The spicy and tangy chickpea
                            curry
                            pairs perfectly with the soft, fluffy, and deep-fried bhature, creating a delightful
                            combination of
                            flavors and textures.</p>
                    </div>
                    <div class="flex items-center">
                        <span
                            class="inline-flex items-center border-0 py-1 px-3 focus:outline-none hover:bg-gray-800 rounded text-base mt-4 md:mt-0">
                            <a href="edit_recipe_1.html"><img src="/images/edit_logo.png" alt="edit"
                                    style="height: 45px;"></a>
                        </span>
                        <span id="delete_button1"
                            class="border-0 py-1 px-3 focus:outline-none hover:bg-gray-800 rounded text-base mt-4 md:mt-0">
                            <img src="/images/delete_logo.png" alt="delete" style="height: 45px;">
                        </span>
                    </div>
                </div>

                <div id="recipe2" class="mb-4 border px-6 rounded-xl py-6 flex items-center justify-between">
                    <div class="w-3/4">
                        <h3 class="text-lg font-bold">
                            <a href="recipe2.html">Neapolitan Pizza</a>
                        </h3>
                        <p class="text-gray-200 italic mb-4 py-3 px-10">Neapolitan Pizza is a classic Italian pizza
                            known for
                            its thin, soft, and chewy crust. Topped with simple and high-quality ingredients, it's a
                            favorite
                            among pizza enthusiasts..</p>
                    </div>
                    <div class="flex items-center">
                        <span
                            class="inline-flex items-center border-0 py-1 px-3 focus:outline-none hover:bg-gray-800 rounded text-base mt-4 md:mt-0">
                            <a href="edit_recipe_1.html"><img src="/images/edit_logo.png" alt="edit"
                                    style="height: 45px;"></a>
                        </span>
                        <span id="delete_button2"
                            class="border-0 py-1 px-3 focus:outline-none hover:bg-gray-800 rounded text-base mt-4 md:mt-0">
                            <img src="/images/delete_logo.png" alt="delete" style="height: 45px;">
                        </span>
                    </div>
                </div>


                <p class="text-xl text-gray-400 italic font-cursive"
                    style="margin-top: 5px; margin-bottom: 40px; font-family: 'Nova';"><a href="createRecipe.html">Share
                        a recipe....</a></p>


            </div>
        </div>

        <footer class="text-gray-400 bg-gray-900 body-font">
            <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
                <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
                    <img src="/images/logo.png" alt="Logo" style="height: 50px">
                    <span class="ml-3 text-xl">Savory Secrets</span>
                </a>
                <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4">©
                    2023 Savory Secrets

                </p>

            </div>
        </footer>

        <script src="/scripts/view_profile.js"></script>



        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script> -->
</body>

</html>